/**
*Hoja de estilo para el proyecto Pokedex - Proyecto 1 del Talent pool
*@since: 23/05/2022
*@author: Pedro Nel Builes Moreno
*/

:root {
    /* colors */
    --color-black: #000000;
    --color-dark-gray: #777777;
    --color-light-gray: #acacac;
    --color-soft-gray: #c4c4c4;
    --color-soft-white: #f6f6f6;
    --color-white: #ffffff;

    /* z-index */
    --z-back: -1;
    --z-none: -0;
    --z-floor: 1;
}

.body {
    background-color: var(--color-soft-gray);
    margin: 8vh 4vw;
}

.header {
    background-color: var(--color-dark-gray);
    border-radius: 15px 15px 0 0;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__icon__pokeball {
    margin: 0;
    padding-right: 0.2rem;
}

.header__icon__pokeball img {
    height: 2rem;
    width: 2rem;
    transition: all 0.5s ease-in;
}

.main {
    background-color: var(--color-light-gray);
    padding: 6vh 4vw;
}

.main__container {
    max-width: 850px;
    margin: auto;
}

.title__pokemon {
    background-color: var(--color-soft-white);
    border-radius: 15px;
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__type__pokemon {
    margin: 0;
    padding-right: 0.5rem;
}

.icon__type__pokemon img {
    height: 1.8rem;
    width: 1.8rem;
    transition: all 0.5s ease-in;
}

.image__pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.image__pokemon img {
    height: 14rem;
    width: 14rem;
    z-index: var(--z-floor);
}

.info__pokemon {
    background-color: var(--color-white);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 8vh 4vw 4vh;
    margin-top: -10vh;
    z-index: var(--z-none);
}

.info__pokemon__data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data, .value {
    font-weight: 100;
    padding-left: 6vw;
    width: 50%;
}

.footer {
    background-color: var(--color-white);
    border-radius: 0 0 15px 15px;
}

.footer__container {
    max-width: 850px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid__others__pokemon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card__pokemon {
    background-color: var(--color-light-gray);
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    margin: 0;
    margin-bottom: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.card__pokemon img {
    height: 4rem;
    width: 4rem;
    filter: brightness(0);
    transition: all 0.5s ease-in;
}

.card__pokemon:hover img {
    filter: brightness(100%);
}

@media screen and (min-width: 768px) {
    .header {
        justify-content: flex-start;
        padding-left: 4vw;
    }

    .main__container {
        display: flex;
        justify-content: space-between;
    }
    
    .image__pokemon img {
        height: 20rem;
        width: 20rem;
        z-index: var(--z-floor);
    }

    .info__pokemon {
        padding: 1vh 1vw;
        margin-left: 1vw;
        margin-top: 0.001rem;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .info__pokemon__data {
        width: fit-content;
        flex-direction: column;
        width: 50%;
    }

    .data, .value {
        padding-left: unset;
        width: auto;
    }

    .data {
        margin-block-end: 0px;
    }

    .value {
        margin-block-start: 0px;
    }

    .footer {
        flex-direction: row;
        padding: 4vh 2vw;
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 95%;
        margin: auto;
    }

    .footer__container h3 {
        margin-left: 4vw;
    }
}